/* MessagesComponent's private CSS styles */
h2 {
    
    font-size: 90px;
  font-weight: 600;
  font-family: 'Niconne', cursive;
  color: #e0d6e9;
  text-shadow: 2px 2px 0px  #957dad,
               4px 4px 0px #ee4b2b,
               6px 6px 0px #00c2cb,
               8px 8px 0px #ff7f50,
               10px 10px 0px #553c9a;
  }
  
  .clear {
    color: #f81909;
    
    background-color: rgb(12, 71, 210);
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  .clear:hover {
    color: rgb(255, 0, 195);
    background-color: #98d027;
  }